<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite - All"  thread-count="1" verbose="1">
	  <parameter name="browser" value="chrome" /> 
	
	<test name="test">
		<classes>
			<class name="com.capgi.Driver.Tests" />
		</classes>
	</test>
</suite>